.img-holder img{
    border-radius: 50%;
    
}
.img-holder
{
   position: relative;
   border: 2px dashed #E87F1E;
   height:500px;
   width:500px;
   border-radius: 50%;
   transform: rotate(0deg);
   transition:0.3s;
   margin-top:65%;
   margin-left: 20%;
transition: 0.3s;
}

.img1{
    position: absolute;
  top:180px ;
  left:-50px;
}
.img2{
    position: absolute;
    top:20px;
    left:1%;
 
}
.img3{
    position: absolute;
    top:-50px;
    left:35%;
}
.img4{
    position: absolute;
    top:10px;
    left:70%;
}
.img5{
    position: absolute;
  top:190px ;
  left:440px;
}

.img6{
    position: absolute;
  top:330px ;
  left:px;

}
.img7{
    position: absolute;
    top:410px;
    left:100px;
 
}
.img8{
    position: absolute;
    top:435px;
    left:50%;
}
.img9{
    position: absolute;
    top:360px;
    left:80%;
}





.Main-target img{

 width:200px;
 border-radius:100%;
}
.Main-target{

    position: absolute;
    top:360px ;
    left:800px;

 
}



.cricle{
   
    position: absolute;
    width:900px; 
    border-radius: 50%;
    height:900px;
    background: #FFEEDE;
    right:0px;
    top:-450px;
    overflow-y: hidden;
    z-index: 0;
   
}

.spin-right{
    position: absolute;
    top:80%;
    left:85%;
   
 
}
.spin-right button{
    color: white;
    background-color: #FF922C;
    border: 0px;
    width: 40px;
height: 40px;
border-radius: 50%;
}


.spin-left
{
    position: absolute;
    top:80%;
    left:45%;
}
.spin-left button{
    color: white;
    background-color: #FF922C;
    border: 0px;
    width: 40px;
height: 40px;
border-radius: 50%;
}




.price{
    color:#FF922C;
     font-size:2.6em ;
}
.food-name{
    font-weight: 500;
font-size: 36px;
}
.order-button{
    background-color: #FF922C;
    width: 163px;
height: 48px;
border-radius: 69px;
border: 0px;
margin-top: 4%;
color: white;
}
.content-centex-holder{
    /* margin-top:18%;
    width: 50%;
    margin-left:0%; */
    position: absolute;
    left: 0px;
    margin-top:15%;
    margin-left: 2%;

}

.Watch-Video{
    margin-top:15%;
    font-weight: 400;
}

.home-content-wrapper
{
    overflow: hidden;
 /* z-index: 0px; */

    
}

.nav-holder-section{
    position: absolute;
    left: 0px;
    z-index: 1;
  
}
.content-holder{
    margin-left: 4%;
}

/* .img6{
    position: absolute;
    top: 42%;
    left:55%;
   
} */
.img6 img{
    border-radius:100%;
}